@{
    ViewData["Title"] = "Home Page";
}

            
<main>
    <div class="container">
        @*pizza container*@
        <div class="flex">

            @*pizza cards*@
            <a href="#" class="card">
                <div class="w-100">
                    <img src="~/img/margherita.jpg">
                </div>
                <div class="card-description">
                    <h3 class="title"> Margherita </h3>
                    <p>Prezzo: 4,50€</p>
                    <p>Pizza classica italiana, semplice e squisita.</p>
                </div>
            </a>

            <a href="#" class="card">
                <div class="w-100">
                    <img src="~/img/margherita.jpg">
                </div>
                <div class="card-description">
                    <h3 class="title"> Margherita </h3>
                    <p>Prezzo: 4,50€</p>
                    <p>Pizza classica italiana, semplice e squisita.</p>
                </div>
            </a>

            <a href="#" class="card">
                <div class="w-100">
                    <img src="~/img/margherita.jpg">
                </div>
                <div class="card-description">
                    <h3 class="title"> Margherita </h3>
                    <p>Prezzo: 4,50€</p>
                    <p>Pizza classica italiana, semplice e squisita.</p>
                </div>
            </a>

            <a href="#" class="card">
                <div class="w-100">
                    <img src="~/img/margherita.jpg">
                </div>
                <div class="card-description">
                    <h3 class="title"> Margherita </h3>
                    <p>Prezzo: 4,50€</p>
                    <p>Pizza classica italiana, semplice e squisita.</p>
                </div>
            </a>

            <a href="#" class="card">
                <div class="w-100">
                    <img src="~/img/margherita.jpg">
                </div>
                <div class="card-description">
                    <h3 class="title"> Margherita </h3>
                    <p>Prezzo: 4,50€</p>
                    <p>Pizza classica italiana, semplice e squisita.</p>
                </div>
            </a>

            <a href="#" class="card">
                <div class="w-100">
                    <img src="~/img/margherita.jpg">
                </div>
                <div class="card-description">
                    <h3 class="title"> Margherita </h3>
                    <p>Prezzo: 4,50€</p>
                    <p>Pizza classica italiana, semplice e squisita.</p>
                </div>
            </a>

        </div>
    </div>
</main>